@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');

:root{
    --light-blue : #04C3FF;
    --light-blue-shadow:  rgb(69 211 255 / 27%);
    --sea-green: #0ABEAD;
    --sea-green-dark: #0CBFAE;
    --sea-green-extra-dark: #09BEAD;
    --sea-green-shadow: rgba(11, 190, 173,0.4);
    --header-hamburger-background : rgba(11, 190, 173,0.8);
    --orange: #F57F17;
    --dark-orange: #FF5823;
    --orange-shadow: rgba(245, 127, 23,0.2);
    --white: #ffffff;
    --black: #333333;
    --disabled-btn: #09bead7a;
    --error-message:  #e44f4fd1;
    --toast-error: #e44f4ffa;
    --toast-shadow:  #9c9c9ce3;
    --toast-success: #0CBFAE;
    --loader-color: #0CBFAE
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh !important;
    min-height: 670px;
}
.nav_bg{
    background-color: rgb(39, 39, 58);
}
.con-btn{
    border: 1px solid rgb(39, 39, 58) !important;
}
.con-btn:hover{
    background-color: rgb(39, 39, 58);
    color: white !important;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.nabvar{
    background-color: #ffffff !important;
}
.navbar-brand{
    font-size: 1.9rem !important;
    color: #fff;
}
.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active{
    font-weight: bold;
    border-bottom: 1px solid #565387;
}
.navbar a:hover{
    color: #3498db !important;
}

#header{
    width: 100%;
    height: 78vh;
    margin-top: 70px;
}

#header h1{
margin: 0 0 10px 0;
font-size: 48px;
font-weight: 700;
color: black;
}
#header .brand-name{
    color:#3498db;
}
#header h2{
    color: #484848;
    font-size: 24px;
}

#header .btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid #3498db;
    text-decoration: none;
}
#header .btn-get-started:hover{
    background-color: #3498db;
}

.header-img{
text-align: right;
}

.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
     
       100%{
        transform: translateY(-10px);
    }
}

@keyframes up-down{

    0%{
    transform: translateY(10px);
}
 
   100%{
    transform: translateY(-10px);
}
}

@media (max-width: 990px) {
    #header{
        height: 100vh;
    }
    
}
